
img.ackbar{
    width:100%; 
    height: auto;
}

body {
    background-color: lightblue;
}


.stretch {
	width:100%; 
}

.profile{
	color: white;
	font-weight: bold;
}

.profilefont{
	font-family: 'arial';font-size: 22px;
  font-weight: bold;
}

.jumbotron {
  background-image: url("http://combiboilersleeds.com/images/stars/stars-3.jpg");
  background-size: cover;
  color: white;
}